	<% provide(:title, 'About Us')%>
	<% content_for :title do %>Swimming with mmofish<% end %>
	<% content_for :description do %>Welcome to the holding pool for mmofish.  Whilst we grow from a small fishling you can find us here, alongside some occasional updates, and the chance to register for details of our launch, services, and beta.<% end %>

	<div class="center hero-unit visible-desktop">
		<h1>About Us</h1>
		<p>Tempory about us page</p>
	</div>
	
	<%= link_to image_tag("rails.png", alt: "rails"), 'http://rubyonrails.org'%>
