	<% provide(:title, 'About Us')%>

	<div class="center hero-unit">
		<h1>About Us</h1>
		<p>Tempory about us page</p>
	</div>
	
	<%= link_to image_tag("rails.png", alt: "rails"), 'http://rubyonrails.org'%>
