<% provide(:title, 'Testing Area')%>


<div class="container test topmargin2">
<div class="row" style="margin-top:35px;">
	  	<div class="span12">
	  		<div class="center hero-unit">
	  		
	  		<h1>Testing Area</h1>
	
	  		<p class="lead">This series of pages, used to test functions, ideas and any other general funny business thats needed!</p>
		</div>
		</div>
	</div>
	  
	<div class="row" style="margin-top:35px;">
		<div class="span12">	
			<h2 class="pull-left">Testing Tabs / Pilled Content</h2>
		</div>
	</div>

	<div class="row" style="margin-top:35px;">
		<div class="span8 offset2">	
			<p>These tabs are made using the html data channel as per bootstrap defaults!</p>
			<p>The JS is triggered with <code>$(function () {
		    $('#home-panes a:first').tab('show');
		 })</code> or can be directly manipulated.</p>
		
			<p>The example below uses <code>fade in</code> as two classes to trigger css transitions, 
				and the class <code>active</code> is added to the first element to be loaded.</p>
				
				<p>We still need to remove the white box from the menu thats aquired with the new structure and classes!</p>
					
	</div></div>
		
	<div class="row">
		
		<div id="home_hero" class="hero-unit visible-desktop">
			<div class="container">
				<div class="tab-content">
	    			<div class="tab-pane fade in active" id="1">
				
			 			<div class="big_fish">
			 				<%= link_to image_tag("logo-big.png", alt: "mmofish"), 'http://www.mmofish.com'%>
			 			</div>
	
					</div>
			    	<div class="tab-pane fade in" id="2">
			    		<h2>mmofish</h2>
			    		<p style="padding:20px; color:white;" class="text-shadow">
			    			Gaming communities need great websites and social tools to help them thrive.
			    			<br />
			    			No, I am not a web developer.
			    			No I don't want to stick a template on it and call it unique.
			    			No I don't want to look at any more ads.
			    			Why cant it just work - and connect to my games ?
			    			<br />
			    			Grow your community. Thrive. Free.</p>
			    	</div>
			    	<div class="tab-pane fade in" id="3">
			    		<p>lorum tab 3 ipsum...</p>
			    	</div>
			    	<div class="tab-pane fade in" id="4">
			    		<p>lorum tab 4 ipsum...</p>
			    	</div>
		    	</div>
		    
		    </div> 
		</div>
	</div>	
		
	</div class="row">
	
		
			<nav class="midnav text-shadow nav center">
				<ul class="nav midnav" id="home-panes">
  					<li><a href="#1" data-toggle="tab">Home</a></li>
  					<li><a href="#2" data-toggle="tab">About</a></li>
  					<li><a href="#3" data-toggle="tab">Contact</a></li>
  					<li><a href="#4" data-toggle="tab">Sign in</a></li>
  				</ul>
			</nav>
		</div>
	</div>
	</div>   <script>
		    	$(function () {
		    $('#home-panes a:first').tab('show');
		  })
		    </script>