<!--! views/admin/dashboard/index.html.erb -->
	<div class="row">
		<div class="span12">
			<div class="hero-unit" style="background-color:#666666">
				<p>This is a literal dashboard, it will be made of multiple status type blocks. This is views/admin/dashboard/index.html.erb</p>
				<p>It is the defaul index action of the dasboard controller, which loads dashboard.hrml.erb which contains a yield block</p>
			</div>
		</div>
	</div>