<div class="row-nogutter gitstats text-shadow">
	<div class="span6 intro">latest commits!</div>	
	<div class="span2" id="commit"><%= render 'layouts/git/commit_number'%></div>
	<div class="span1"><%= render 'layouts/git/hash_details'%></div>
	<div class="span3"><%= render 'layouts/git/commit_message'%></div>
</div>
