<!--! views/admin/settings/_sidebar.html.erb -->
<nav>
	<ul class="nav pull-left">
		<li><%= link_to('Manage users', admin_settings_users_path) %></li>
		<li>Another link</li>
		<li>Another link</li>
		<li>Another link</li>
		<li>Another link</li>
		<li>Another link</li>
		<li>Another link</li>
	</ul>
</nav>
