<!--! app/views/admin/settings/index.html.erb -->
<div class="row">

		<div class="span2">
		<div class="hero-unit" style="padding:5px;background-color:#FFCCCC">
				<p>This is a span2 containing a render 'sidebar'</p>
				<%= render 'sidebar' %>
		</div>
	
		</div>
		<%=  link_to('Manage users', admin_settings_users_path)%>
		<div class="span10">
			<div id="response_data" class="hero-unit">
				<p>This is the settings index action.</p>
				<p>Find me in app/views/admin/settings/index.html.erb</p>
				<p>This has a yield action below this line</p>
			</div>
		</div>
</div>
