<!--! views/admin/dashboard/_bridge.html.erb -->
<div class="row">
	<div class="span12">
		<b>This is the dashboard main nav _bridge.html.erb it is loaded via a render '_bridge' in dashboard.html.erb</b>
		<nav class="bridge">
			<ul class="nav inline">
				<li><%= link_to('dashboard', admin_path) %></li>
				<li><%= link_to('settings', admin_settings_path) %></li>
				<li>baz</li>
				<li>quaax</li>
			</ul>
		</nav>
	</div>
</div> 
