<!--! #views/admin/base/_header.html.erb -->

<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar_inner">
		<div class="container">

		<%= link_to "mmofish", root_path, :class => 'brand', :id => 'logo' %>
		<%= link_to "Admin", admin_path, :class => 'brand highlight', :id => 'logo' %>
			<nav>
				<%= render 'navigation' %>
			</nav>
		</div>
	</div>
</header>