/* Twitter bootsrap, less > scss $vars overides
 * --------------
 * Takes an existing bootstrap value and redefines it
 * Must be used BEFORE the import
 * Once asset pipeline is compiled, must be refreshed on server

 * Will apply to all usages within the core bootstrap environment
 */


$myBaseFont: 'Dosis', sans-serif;
$baseFontFamily: $myBaseFont;


@import "bootstrap";
@import "bootstrap-responsive";
@import url(http://fonts.googleapis.com/css?family=Dosis:400,600,300); /* Body Font */
@import url(http://fonts.googleapis.com/css?family=Geo); /* Title font */

/* New scss $vars
 * --------------
 * Will apply to all references in this file
 *
 */

$grayMid:#666;
$backgroundOrange:#f78b00;
$backgroundGrey:#eeeeee;
$textShadow:rgba(0,0,0,0.25); /*black with 25% opacity!*/
$headingFont:'Geo', sans-serif;
$bodyFont:'Dosis', sans-serif;
$font:#ffc000;



/* UNIVERSAL */

html {
  overflow-y: scroll;
  background-color: $backgroundGrey;
  height:100%;
  background-color:$backgroundOrange;
}

body {
  height:100%;
  background-color:$backgroundOrange;
  background-image:image-url("bg.png");
   background-repeat: repeat;      
  
}

.sample_content {
  height:372px;
  
}
#wrap {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -60px;
}

#push, #footer {
height: 60px;
}

section {
  overflow:auto;
}

textarea {
  resize:vertical;
}

/*scss inheritance in action!*/
.center {
  text-align:center;
  h1 {
    margin-bottom:10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing:-2px;
  margin-bottom:30px;
  text-align:center;
  color:$grayLight;
}


p {
  font-size: 1.1em;
  line-height: 1.7em;
}

#logo {
  float:left;
  margin-right:10px;
  font-size:1.7em;
  color:$orange;
  text-transform:uppercase;
  padding-top:9px;
  font-weight:bold;
  line-height:1;
  &:hover {
    color:$orange;
    text-decoration:none;
  }
}

.text-shadow {
  text-shadow: 0px 1px 1px $textShadow;
  
}

/* Scroller pages for homepage concept /*
 * 
 */

.page_first {background-color:$backgroundOrange}


/*Note need to cut this with a media query
 *and have alternate content for mobiles!
 */

/* First Page Hero Unit */
#home_hero.visible-desktop{
  margin-left:auto;
  margin-right:auto;
  width:800px;
  height:400px;
  margin-top:155px;
  margin-bottom:10px;
  box-shadow: 0px 2px 12px rgba(0,0,0,0.25);
  background-color:$backgroundOrange;
  background-image:image-url("tile-bg.png");
  border-radius: 0px;
  text-align:center;
  padding:0;
  transition: border .25s ease-in-out;
  -webkit-transition: border .25s ease-in-out;
  -moz-transition: border .25s ease-in-out;
  -ms-transition: border .25s ease-in-out;
  -o-transition: border .25s ease-in-out;
  border: 1px solid #f78b00;
    .container{
     width:100%;
     height:100%;
     padding:0;
     margin:0;
    }
  &:hover {
    
    border: 1px solid #fff200;
/*    margin-top:154px;
    margin-bottom:9px; */
    
  }

}

.big_fish {
  margin-top:100px;
   margin-left:auto;
  margin-right:auto;
} 
/* Navbars */

header.navbar {
  background-color:#000;
}

.midnav {
  background-image: image-url("separator-h.png");
  background-repeat:no-repeat;
  background-position:center bottom;
  font-family:'Geo';
  
}
.midnav > li { 
  padding-bottom:10px;
text-align:center; 
  display:inline-block; 
    /* IE hasLayout hack */ 
    zoom:1; 
    *display:inline; 
} 

.midnav > li > a {
    float: none;
    padding: 10px 15px;
    text-decoration: none;
    font-size:27px;
    transition: .25s ease-in-out;
         -webkit-transition: .25s ease-in-out;
         -moz-transition: .25s ease-in-out;
         -ms-transition: .25s ease-in-out;
         -o-transition: .25s ease-in-out;
    &:hover {
     text-shadow: 0px 1px 10px rgba(0,0,0,0.35);
    color:#ffff99;
    
    background:transparent;
    }
  }

.midnav {
  color:#fff200;
    a {
      color:#fff200;
    }
}

/* Email Sign-up */

.email_signup {
   .span2{
    box-shadow: inset 0px 1px 8px rgba(0,0,0,0.25);
    background-color:#f78b00;
    border-color:#f78b00; 
     &:hover, &:focus{
       border-color:#fff200;
       box-shadow: inset 0px 1px 8px rgba(0,0,0,0.25);
       color: #fff200;
     }
   }
  .btn{
    color: #f78b00;
    font-family: 'Geo';
    font-size: 22px;
    text-transform:lowercase;
    text-shadow:none;
    
    background-color: #ffc000;
   background: -webkit-gradient(linear, top, bottom, from(#fff200), to(#ffc000));
   background: -webkit-linear-gradient(top, #fff200, #ffc000);
   background: -moz-linear-gradient(top, #fff200, #ffc000);
   background: -ms-linear-gradient(top, #fff200, #ffc000);
   background: -o-linear-gradient(top, #fff200, #ffc000);
   border-color: #f78b00;
  }

}

/* Git Stats */


.gitstats {
  color:$font;
  .intro {
    font-family:$headingFont;
    font-size:27px;
    text-transform:lowercase;
    padding-left:5px;
  }
  #commit_number {
    font-family:$bodyFont;
    font-size:   150px;
    line-height: 125px;
   }
   #hash {
     padding-left:35px;
     padding-top:15px;
   }
   #commit_message {
     padding-left:10px;
     padding-right:10px;
     padding-top:5px;
     } 
}





/* Social Icons */
.social_icons {
  background-image: image-url("separator-v.png");
  background-repeat:no-repeat;
  background-position:right center;
  padding-right:10px;
  min-height:200px;
  margin-top:5px;
  margin-bottom:5px;
   li {
    margin-bottom:8px;
    &:hover {      
    }
  }
}

/* FOOTER */

footer {
  background-image: image-url("separator-f.png");
  background-repeat:no-repeat;
  background-position:center top;
  border-top: none;
  background-color: $backgroundOrange;
  color:#ffc000; 
  a {
    color: #fff200;
    &:hover {
      color: #ffff99; 
      text-decoration:none;
    }
  }
  small {
    font-size:14px;
    text-align:center;
    font-weight:300;
  }
 }
 

/* No Gutters! /*
 *
 */
