/* Twitter bootsrap, less > scss $vars overides
 * --------------
 * Takes an existing bootstrap value and redefines it
 * Must be used BEFORE the import
 * Once asset pipline is compiled, must be refreshed on server
 * Will apply to all usages within the core bootstrap enviroment
 */

$myOrange: #f89406;
$orange: $myOrange;

@import "bootstrap";

/* New scss $vars
 * --------------
 * Will apply to all references in this file
 *
 */

$grayMid:#666;


/* UNIVERSAL */

html {
  overflow-y: scroll;
}

body {
  padding-top:60px;
}

section {
  overflow:auto;
}

textarea {
  resize:vertical;
}

/*scss inheritance in action!*/
.center {
  text-align:center;
  h1 {
    margin-bottom:10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing:-2px;
  margin-bottom:30px;
  text-align:center;
  color:$grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

#logo {
  float:left;
  margin-right:10px;
  font-size:1.7em;
  color:$orange;
  text-transform:uppercase;
  padding-top:9px;
  font-weight:bold;
  line-height:1;
  &:hover {
    color:$orange;
    text-decoration:none;
  }
}

/* FOOTER */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: $grayLight;
  a {
    color: #555;
    &:hover {
      color: #222; 
    }
  }
  small {
    float:left;
  }
  ul {
    float:right;
    list-style:none;
    li {
        float: left;
        margin-left:10px; 
    }
  }      
}   