/* Twitter bootsrap, less > scss $vars overides
 * --------------
 * Takes an existing bootstrap value and redefines it
 * Must be used BEFORE the import
 * Once asset pipeline is compiled, must be refreshed on server

 * Will apply to all usages within the core bootstrap environment
 */

$myOrange: #f89406;
$orange: $myOrange;
$myBaseFont: 'Dosis', sans-serif;
$baseFontFamily: $myBaseFont;


@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Dosis:400,600,300); /* Body Font */
@import url(http://fonts.googleapis.com/css?family=Geo); /* Title font */

/* New scss $vars
 * --------------
 * Will apply to all references in this file
 *
 */

$grayMid:#666;
$backgroundOrange:#f78b00;
$backgroundGrey:#eeeeee;
$textShadow:rgba(0,0,0,0.25); /*black with 25% opacity!*/
$headingFont:'Geo', sans-serif;
$bodyFont:'Dosis', sans-serif;
$font:#ffc000;

/* UNIVERSAL */

html {
  overflow-y: scroll;
  background-color: $backgroundGrey;
}

body {
  padding-top:60px;
}

section {
  overflow:auto;
}

textarea {
  resize:vertical;
}

/*scss inheritance in action!*/
.center {
  text-align:center;
  h1 {
    margin-bottom:10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing:-2px;
  margin-bottom:30px;
  text-align:center;
  color:$grayLight;
}


p {
  font-size: 1.1em;
  line-height: 1.7em;
}

#logo {
  float:left;
  margin-right:10px;
  font-size:1.7em;
  color:$orange;
  text-transform:uppercase;
  padding-top:9px;
  font-weight:bold;
  line-height:1;
  &:hover {
    color:$orange;
    text-decoration:none;
  }
}

.text-shadow {
  text-shadow: 0px 1px 1px $textShadow;
  
}

/* Scroller pages for homepage concept /*
 * 
 */

.page_first {background-color:$backgroundOrange}


 
/* Navbars */

header.navbar {
  background-color:#000;
}

.midnav {
  background-image: image-url("separator-h.png");
  background-repeat:no-repeat;
  background-position:center bottom;
  
}
.midnav > li { 
text-align:center; 
  display:inline-block; 
    /* IE hasLayout hack */ 
    zoom:1; 
    *display:inline; 
} 

.midnav > li > a {
   color: #777777;
    float: none;
    padding: 10px 15px;
    text-decoration: none;
    text-shadow: 0 1px 0 white
}


/* Git Stats */

.gitstats {
  color:$font;
  .intro {
    font-family:$headingFont;
    font-size:26px;
    text-transform:lowercase;
    padding-left:5px;
  }
  #commit {
    font-family:$bodyFont;
    font-size:   110px;
    line-height: 130px;
    font-weight: 600;
     }
  blockquote {
        border-right:none;
        padding-right:5px;
        border-left:none;
        padding-left:5px;
        padding-top:10px;
        P {
          font-weight:400;
        }
        small {
      float:right;
      color:$grayMid;
    }
  }
}

/* Social Icons */
.social_icons {
  background-image: image-url("separator-v.png");
  background-repeat:no-repeat;
  background-position:right center;
  padding-right:10px;
  min-height:170px;
}

/* FOOTER */

footer {
  margin-top: 45px;
  padding-top: 5px;
  padding-bottom: 10px;
  border-top: none;
  color: $white;
  a {
    color: #555;
    &:hover {
      color: #222; 
    }
  }
  small {
    text-align:center;
  }
 }