<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar_inner">
		<div class="container">

		<%= link_to "mmofish", root_path, :class => 'brand', :id => 'logo' %>
			<nav>
				<%= render 'navigation' %>	
			</nav>
		</div>
	</div>
</header>