<!-- Grid Structure for the homepage -->
<!-- The Hero-Unit -->
<div class="row">
  <div class="span10 offset1">
  	<div class="center hero-unit">
		<h1>mmofish</h1>
	</div>
  </div>
</div>
<!-- The MiddleNav-->
<div class="row">
  <div class="span12">
  	<%= render 'layouts/midnav'%>
  </div>
</div>
<!-- Just Below MiddleNav-->
<div class="row-nogutter">

<div class="span5 offset1"><div style="width:100%;background-color:red;height:150px;">

<div class="row-nogutter">	
<div class="span4"><div style="width:100%;background-color:yellow;height:25px;"></div></div>
<div class="span1"><div style="width:100%;background-color:black;height:25px;"></div></div>
</div>
	
</div></div>


<div class="span5"><div style="width:100%;background-color:blue;height:150px;">
	
<div class="row-nogutter">	
<div class="span3"><div style="width:100%;background-color:yellow;height:25px;"></div></div>
<div class="span1"><div style="width:100%;background-color:black;height:25px;"></div></div>
</div>	
	
</div></div>
		
 <% render 'layouts/git/git'%>
 <% render 'layouts/social_icons'%>
</div>

** SAMPLES **
			
				


