	<footer class="footer">
		<small>
			<a href="http://mmofish.com/">mmofish</a> by Gamers.
		</small>
		<nav>
			<ul>
				<li><%= link_to "Github", '#' %></li>
				<li><%= link_to "Contact", contact_path %></li>
			</ul>
		</nav>
	</footer>
