	<div class = "gitstats">
		<div class = "row-fluid">
			<div class = "span4 offset6">
				<div class = "row-fluid">
					<div class="span12 intro">
						<p>Latest git commit:</p>
					</div>
				</div>
				<div class="row-fluid">		
					<div class="span4">
						<span id="commit">63</span>
					</div>
					<div class="span8">
						<div class="gitdetail">
							<p>Add sign-up Stub and users partial</p>
							<small>Mizpah authored 4hrs ago</small>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>