	<div class = "gitstats">
		<div class = "row-fluid">
			<div class ="span1 offset5"><div class="pull-right"><%= render 'layouts/social_icons' %></div></div>
			<div class = "span5 offset0">
				<div class = "row-fluid">
					<div class="span12 intro text-shadow">
						latest git commit:
					</div>
				</div>
				<div class="row-fluid">		
					<div class="span10">
						<span id="commit" class="text-shadow">063</span>
					</div>
						<div class="span2">
							<blockquote class="pull-right">
							<small>0ae3o1z<cite title="Mizpah"> Mizpah</cite></small>
							</blockquote>
						</div>
					</div>
					<div class="row-fluid">
					<div class="span10">
					<blockquote class="pull-left">
							<p>
							Add routes and condense rspec tests Add routes and Condense
							rspec testsAdd routes and condense rspec tests Add routes 
							and condense rspec tests Add routes and condense rspec tests
							</p>
					</div>		
					
					</div>	
				</div>
			</div>
		</div>
	</div>