	<div class = "gitstats">
		<div class = "row-fluid">
			<div class = "span4 offset6">
				<div class = "row-fluid">
					<div class="span12 intro text-shadow">
						<p>Latest git commit:</p>
					</div>
				</div>
				<div class="row-fluid">		
					<div class="span4">
						<span id="commit" class="text-shadow">63</span>
					</div>
					<div class="span8">
						<blockquote class="pull-right">
						<p>Add sign-up Stub and users partial</p>
						<small>Authored 4 hours ago by <cite title="Mizpah">Mizpah</cite></small>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>