<header class="navbar navbar-fixed-top">
	<div class="navbar_inner">
		<div class="container">
		<%= link_to "mmofish", root_path, id: "logo" %>
			<nav>
				<ul class="nav pull-right">
					<li><%= link_to "Home",     root_path      %></li>
					<li><%= link_to "About us", about_path %></li>
					<li><%= link_to "Sign in",  signup_path %></li>
				<ul>
			</nav>
		</div>
	</div>
</header>