<div id="home_hero" class="hero-unit visible-desktop">
	<div class="container">
	 <div class="big_fish"><%= link_to image_tag("logo-big.png", alt: "mmofish"), 'http://www.mmofish.com'%></div>
	</div> 
</div>