<div class="social_icons">
<ul class="">
	<li class =""><a href="#" class="">Facebook<span></span></a></li>
	<li class =""><a href="#" class="">Twitter<span></span></a></li>
	<li class =""><a href="#" class="">YouTube<span></span></a></li>
	<li class =""><a href="#" class="">Google+<span></span></a></li>
	<li class =""><a href="#" class="">GitHub<span></span></a></li>
</ul>
</div>
